$box-sizing-color: #e3e4e9;
$main-color : #2d3436;
$main-color2:#8854d0;
$main-color3: #1dd1a1;
$loginPageText-color : #1A2E35;

$xxxxxxxl: 1510px;
$xxxxxxl: 1360px;
$xxxxxl: 1315px;
$xxxxl: 1155px;
$xxxl: 1084px;
$xxl: 1040px;
$xl: 790px;
$l: 670px;
$m: 560px;
$undermsize:400px;
$s: 340px;
$xs:300px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dela Gothic One', cursive;
}

.App{
    height: 100vh;
    overflow: hidden;
    background-color: $main-color;
    .login-container{
      background-image: url(..//Utils/3094352.jpg);
      background-size: 1500px;
      background-position: right;
      position: absolute;
      top: 25%;
      left: 25%;
      transform: translate(-50%, -50%);
      box-shadow: -1px -1px 14px 9px $box-sizing-color; 
      height: 50%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media screen and (max-width:$xxxxxxxl){
        background-size: 1150px;
      }
      @media screen and (max-width:$xxxxxxl){
        background-size: 1050px;
      }
      @media screen and (max-width:$xxxxl){
        background-size: 880px;
      }
      @media screen and (max-width:$xxl){
        background-size: 740px;
      }
      @media screen and (max-width:$xl){
        background-size: 640px;
      }
      @media screen and (max-width:$l){
        width: 70%;
        left: 20%;
        background-repeat:no-repeat;
        background-size: 500px;
        height: 30em;
      }
      @media screen and (max-width:$m){
        background-size: 400px;
        height: 25em;
        background-repeat:no-repeat;
        background-position:right bottom;
        width: 70%;
        left:15%;
        
      }
      @media screen and (max-width:$s){
        background-size: 400px;
        height: 20em;
        width: 70%;
        left: 20%;
        background-repeat:no-repeat;
        background-position:right bottom; 
      }
      .name-container{
        z-index: 1;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: $loginPageText-color;
        text-align: center;
        
        input{
          padding: 1rem;
          width: 15rem;
          height: 2.5rem;
          font-size: 1rem;
          text-transform: uppercase;
          text-align: center;
          &:focus,&:hover{
            border: none;
            outline: none;
            box-shadow: 0 1px 14px #b8c6db;
          }
          @media screen and (max-width:$m) {
            width: 14rem;
            
          }
          @media screen and (max-width:$s) {
            width: 10rem;
            
          }
           @media screen and (max-width:$xs) {
            width: 10rem;
            
          }
        }
      }
      .lastName-container{
        z-index: 1;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color: $loginPageText-color;
        text-align: center;
        
        
        input{
          padding: 1rem;
          width: 15rem;
          height: 2.5rem;
          font-size: 1rem;
          text-transform: uppercase;
          text-align: center;
        
          &:focus,&:hover{
            border: none;
            outline: none;
            box-shadow: 0 1px 14px #b8c6db;
          }
           @media screen and (max-width:$m) {
            width: 14rem;
            
          }
          @media screen and (max-width:$s) {
            width: 10rem;
            
          }
           @media screen and (max-width:$xs) {
            width: 10rem;
            
          }
          
        }
      }
      button{
        height: 3rem;
        width: 5rem;
        background-color:$loginPageText-color;
        cursor:pointer;
        color:#ffffff;
        text-decoration:none;
        border: none;
        
      }
    }
    .todo-container{
      position: absolute;
      width: 50%;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media screen and (max-width:$xxxxxxxl){
       width: 50%;
      }
      @media screen and (max-width:$xxxxxxl){
       width: 60%;
      }
      @media screen and (max-width:$xxxxl){
       width: 70%;
      }
      @media screen and (max-width:$xxl){
       width: 75%;
      }
      @media screen and (max-width:$xl){
       width: 80%;
      }
      @media screen and (max-width:$l){
       width: 85%;
      }
      .name-tag{
        color: white;
        font-size: 2rem;
        text-align: center;
        text-shadow: 2px 2px 5px $main-color2;
        @media screen and (max-width:$xxl){
          font-size: 1.6rem;
        }
        @media screen and (max-width:$m){
          font-size: 1.2rem;
        }
      }
      .input-area{
        width: 80%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        form{
          display: flex;
          justify-content: space-between;
          input{
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
            width: 100%;
            height:3rem;
            padding-left: 1rem;
            font-size: 1.1rem;
            
            border: none;
            outline: none;
            border-top-left-radius: 1em;
            border-bottom-left-radius: 1em;
            &:focus,&:hover{
              transition: 1s ease-in-out;
              box-shadow: 0 1px 12px #b8c6db;
            }
            @media screen and (max-width:$m){
              font-size: 0.8rem;
              font-weight: 800;
            } 
            @media screen and (max-width:$s){
              font-size: 0.5rem;
              font-weight: bold;
            } 
          }
          button{
            height: 3rem;
            width: 5rem;
            background-color:$main-color2;
            cursor:pointer;
            color:#ffffff;
            text-decoration:none;
            border: none;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            
          }
        }
       
      }
      .task-area{
        // box-shadow: rgb(255, 255, 255) 0px 20px 30px -10px;
        width: 100%;
        max-height:35rem;
        overflow-y: auto;
        background-color: white;
        padding: 1rem;
        border-radius: 1em;
        .task{
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
          padding: 2rem;
          height: 3rem;
          background-color: $main-color2;
          border-radius: 2rem;
          color: white;
          margin-bottom: 1rem;
          @media screen and (max-width:$m){
            flex-direction: column;
            padding-top:0.5rem;
            height: 4.3rem;
          }
          @media screen and (max-width:$s){
            flex-direction: column;
            padding-top:0.5rem;
            height: 4.6rem;
          }
          
          .task-title{
            font-size: 2.5rem;
            
            @media screen and (max-width:$xxl){
              font-size: 2rem;
            }
            @media screen and (max-width:$xl){
              font-size: 1.7rem;
            }
            @media screen and (max-width:$l){
              font-size: 1.5rem;
            }
            @media screen and (max-width:$m){
              font-size: 1.2rem;
              margin-bottom:0.1rem ;
            }
            @media screen and (max-width:$s){
              font-size: 1rem;
              
            }
          }
          .task-icons{
            display: flex;
            flex-direction: row;
            .icon{
              cursor: pointer;
              font-size: 1.5rem;
              margin-right: 0.5rem;
            }
            .tooltip{
              position: relative;
              display: inline-block;
              cursor: pointer;
              .tooltip-Text{
                visibility: hidden;
                position: relative;
                position: absolute;
                font-size: 0.8rem;
                padding: 5px 0;
                width: 10em;
                text-align: center;
                border-radius: 6px;
                top: -5px;
                right:100%;
                z-index: 1;
                background-color: #c8d6e5;
                color: black;
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
                @media screen and (max-width:$m) {
                  left: 30px;
                }
                @media screen and (max-width:$xs) {
                  top: 30px;
                  left: 10px;
                }
              }
              &:hover{
                .tooltip-Text{
                  visibility: visible;
                }
              }
              
            }
          }
        }
      }
      .modal{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 20em;
        height: 20em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:white;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
        @media screen and (max-width:$undermsize) {
          width: 16em; 
        }
        @media screen and (max-width:$s) {
          width: 14em; 
        }
        .header{
          display: flex;
          justify-content: space-between;
          color: $main-color2;
          .iconClose{
            height: 2rem;
            width: 2rem;
            margin: 1rem;
            color: $main-color2;
            &:hover{
              color: $main-color3;
            }
          }
          .modal-title{
            font-size: 1.3rem;
            margin-left: 1rem;
            margin-top: 1rem;
          }
        }
        .main{
          display: flex;
          flex-direction: column;
          margin-top: 3rem;
          align-items: center;
          .changeInput{
            margin-bottom: 1rem;
            height: 2rem;
            border: none;
            padding-left: 1rem;
            
            box-shadow: 0 1px 12px #b8c6db;
           &:focus{
             border: none;
             outline: none;
             box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
           } 
           @media screen and (max-width:$xs) {
              width:10rem;
            }
          }
          .change-button{
            height: 2rem;
            width: 5rem;
            background-color:$main-color2;
            cursor:pointer;
            color:#ffffff;
            text-decoration:none;
            border: none;
            &:hover{
              background-color: $main-color3;
              transition: 0.8s ease-in-out;
            }
            @media screen and (max-width:$xs) {
              width:7rem;
            }
          }

        }

      }
    }
}